body {
  background: LightSeaGreen;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: black;
  text-align: center;
  width: 100%;
  display: block;
}

.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: Azure;
  border-radius: 20px; /* curved corners */
  width: 20%;
  box-shadow: 8px 8px [pick a color];
  display: block; /* instead of flex */
  border-radius: 20px; /* set last assignment */
}

.assign img {
  width: 200px;
  padding: 10px;
  padding: 10px; /* change this from margin to padding */
  border: 2px solid #4EC8F5; /* try dashed, dotted */
}

a {
 text-decoration: none; /* remove underlining on anchor tags */
 color: #4EC8F5; /* pick the color you want */
}

Explain a:hover, img:hover, h1:hover
a:hover {
 text-decoration: none; /* remove underlining on anchor tags */
 color: salmon; /* pick the color you want */
}
