body {
  background: LightSeaGreen;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  text-align: center;
}

.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: Azure;
  border-radius: 20px;
}

.assign img {
  width: 200px;
  padding: 10px;
 border: 2px solid midnightblue; /* try dashed, dotted */
}

a {
 text-decoration: none;
 color: midnightblue;
}

Explain a:hover, img:hover, h1:hover
a:hover {
 text-decoration: none; /* remove underlining on anchor tags */
 color: salmon; /* pick the color you want */
}



